body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;

}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: aquamarine;
}
     img {
    height: 200px;
}

nav {
    border: 1px black;
    padding: 16px;
    background-color: aquamarine;
}

h2 {
    color: teal;
}

h1{
color: teal;
}

.taco-image {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}

a:hover {
    background-color: teal;
}

a:link {
    text-decoration: none;
}

.background-color-row:nth-child(even) {
    background-color: lightgrey;
}
